.university-lp {
  .navbar {
    background-color: #1946BA;

    @media (max-width: 768px) {
      &:not(.top-nav-collapse) {
        background: #1946BA;
      }
    }
  }

  .page-footer {
    background-color: #1946BA;
  }

  .display-3 {
    @media (max-width: 450px) {
      font-size: 3rem;
    }
  }

  .background-r {
    background-color: #f6f6fc;
  }

  .md-pills {
    &.pills-primary {
      .nav-item {
        .nav-link {
          &.active {
            background-color: #33b5e5;
          }
        }
      }
    }
  }

  .fa-2x {
    margin-bottom: 0.6rem;
  }

  p {
    line-height: 1.7rem;
  }

  .font-small {
    font-size: 0.85rem;
  }

  #home>div.mask.rgba-black-strong>div>div>div>a {
    background-color: #EC0B43 !important;
  }

  .pills-primary .nav-link.active {
    background-color: #1946BA !important;
  }

  .rgba-indigo-strong,
  .rgba-indigo-strong:after {
    background-color: rgba(25, 70, 186, 0.7);
  }

  footer>div.container-fluid {
    background-color: #1946BA !important;
  }

  footer.page-footer .footer-copyright {
    overflow: hidden;
    color: #1946BA;
    background-color: #f6f6fc;

    a {
      color: black;
    }
  }
  footer > div.container-fluid > div > div > div.col-xl-5.col-lg-4.pt-1.pb-1 > div > a > i {
    background-color: #EC0B43 !important;
  }
}